.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



table, th, td {
  border: 1px solid;
}



td{
  min-height: 50px;
  padding: 20px;
  min-width: 50px;
}
tr{
  min-height: 50px;
}
table {
  overflow: auto;
  border-collapse: collapse;
}

.TableContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.text-field{
  margin-top: 50px;
}

input{
  max-width: 50px;
}

.cell{
  min-width: 50px;
  min-height: 20px;
  padding: 10px;
}

.cell:hover{
  border: solid 1px rgb(61, 61, 61);
}

textarea {
  min-width: 400px;
  min-height: 200px;
}